* {
    box-sizing: border-box;
   margin: 0;
   padding: 0; 
}
body {
    color: white;
    display: flex;
    font-family: sans-serif;
    justify-content: center;
  
}
.container {

    background-image: url('img.jpg');
    margin: 50px;
    padding: 50px;
    border-radius: 25px;
  
}

.title {
    text-align: center;
}

.status-action {
    display: flex;
    margin-top: 25px;
    font-size: 25px;
    justify-content:space-around ;

}

.reset {
    cursor: pointer;
}

.reset:hover {
    color: #F2EBD3;
}

.game-grid {
    background:whitesmoke;
    display: grid;
    grid-template-columns: repeat(3,1fr) ;
    grid-template-rows: repeat(3,1fr) ;
    grid-gap: 15px ;
    margin-top: 50px;
}
.game-cell {

    background-image: url('img.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 200px ;
    width: 200px;
    
}

.x::before {
    content: 'x' ;
    font-size: 200px;
}

.o::before {
    content: 'o' ;
    color : #F2EBD3;
    font-size: 200px;
}